.banner-catering {
    background-image: url('../img/catering/catering-banner-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-catering::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
    z-index: 1;
}

.banner-catering .container {
    position: relative;
    z-index: 2;
}

.info-section-catering {
    background-color: var(--yellow);
    padding: 4rem 0;
}

.info-container {
    width: 65%;
    margin-bottom: 20px;
}

.how-container {
    width: 80%;
    margin-bottom: 20px;
}

.book-container {
    width: 40%;
    margin-bottom: 20px;
}

.catering-wrapper {
    display: flex;
    align-items: stretch;
}

.catering-left,
.catering-right {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.catering-left {
    padding: 2rem 3rem;
}

.catering-title {
    font-family: 'Anton', sans-serif;
    font-size: 6rem;
    line-height: 1;
    color: #000;
}

.catering-divider-block {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
}

.divider-line {
    width: 5px;
    background-color: #000;
    height: 90px;
    border-radius: 10px;
}

.catering-subtitle-info {
    margin: 0;
    text-align: left;
    font-size: 2.2rem !important;
    color: #000;
    line-height: 1.2;
    font-family: 'Anton', sans-serif;
}

.catering-subtitle {
    margin: 0;
    text-align: center;
    font-size: 3rem !important;
    color: #000;
    line-height: 1.2;
    font-family: 'Anton', sans-serif;
}

.catering-description {
    text-align: center;
    max-width: 450px !important;
    margin: 0 auto;
    font-size: 1.6rem !important;
    font-family: 'Caveat', cursive;
}

.catering-right {
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
}

.catering-box {
    text-align: center;
    border: 2px solid #000;
    border-radius: 25px;
    padding: 2rem;
    line-height: 1.4;
}

.catering-box p {
    font-weight: bold !important;
    font-family: 'Caveat', cursive;
    font-size: 1.6rem !important;
}

.catering-box p:last-child {
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .catering-title {
        font-size: 4rem;
    }

    .book-container {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .wave-separator-top {
        margin-top: -18px !important;
    }

    .catering-title {
        text-align: center;
    }

    .catering-divider-block {
        justify-content: center;
    }

    .catering-right {
        padding-top: 0;
    }
}

@media (max-width: 576px) {
    .main-section-catering {
        padding: 1rem 0 !important;
    }

    .catering-subtitle {
        font-size: 2rem !important;
    }

    .book-container {
        width: 80%;
    }
}

.main-section-catering {
  z-index: 1;
  position: relative;
  background-color: var(--beige);
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* How it works */
.how-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    justify-items: center;
}

.how-cards > .how-card:nth-child(3) {
    grid-column: span 2;
    width: 30rem !important;
    margin: 0 auto;
}

.how-card {
    height: 30rem;
    width: 30rem !important;
    position: relative;
    border: 2px solid #000;
    padding: 0 !important;
}

.how-separator-card {
    width: 100%;
    line-height: 0;
    overflow: hidden;
    margin-top: -28px;
    position: relative;
    z-index: 10;
}

.how-separator-card svg {
    width: 100%;
    height: 30px;
    display: block;
}

.how-sticker {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.how-sticker img {
    width: 90px;
    height: auto;
    display: block;
}

.how-top {
    height: 50%;
    background: #66147A;
    padding: 1.2rem 1rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-title {
    color: var(--beige);
    font-family: 'Anton', sans-serif;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.2;
}

.how-bottom {
    height: 50% ;
    padding: 1.5rem 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-bottom p {
    margin: 0;
    font-weight: bold !important;
    letter-spacing: 1.6px;
    font-family: 'Caveat', cursive;
    line-height: 1;
    font-size: 1.6rem !important;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.event-box {
    border: 2px solid var(--black);
    text-align: center;
    font-size: 1.4rem !important;
    font-weight: bold !important;
    border-radius: 10px;
    font-family: 'Caveat', cursive;
}

@media (max-width: 767px) {
    .how-cards {
        grid-template-columns: 1fr;
    }

    .events-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .how-bottom {
        padding: 1rem !important;
    }

    .how-bottom p {
        letter-spacing: 1px;
        line-height: 1;
        font-size: 1.4rem !important;
    }

    .how-title {
        font-size: 2rem !important;
    }

    .events-grid {
        grid-template-columns: 1fr;
    }

}



