.banner-locations {
    min-height: 800px;
    background-image: url('../img/locations/location-banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.banner-locations::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
    z-index: 1;
}
.banner-locations .container {
    position: relative;
    z-index: 2;
}

.banner-content {
    position: relative;
    z-index: 2;
}

.banner-content-container {
    padding: 3rem 2.5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    max-width: 600px;
    margin: 0 auto;
}

.info-locations-section {
    background-color: var(--yellow);
    padding: 4rem 0;
}

.location-container {
    width: 65% !important;
    margin-bottom: 20px;
}

.location-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.location-title {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 3rem !important;
    line-height: 1.2;
}

.location-image {
    width: 100%;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.location-image img {
    width: 60px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.location-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.location-address {
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 10px;
}

.location-address p {
    margin: 0;
    font-size: 1.6rem !important;
    font-weight: bold !important;
    font-family: 'Caveat', cursive;
}

.location-video {
    margin-top: 2rem;
    width: 100%;
}

.video-container {
    position: relative;
    min-width: 100%;
    margin: 0 auto;
    aspect-ratio: 9/16;
    background-color: #000;
    border-radius: 15px;
    overflow: hidden;
}

.video-display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .location-container {
        width: 80% !important;
    }

    .border-top-mobile {
        padding-top: 20px;
        position: relative;
    }

    .border-top-mobile::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 3px;
        background: linear-gradient(90deg, 
            transparent 0%, 
            var(--purple) 20%, 
            var(--black) 50%, 
            var(--purple) 80%, 
            transparent 100%);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .wave-separator-top {
        margin-top: -18px;
    }
}