.banner-events {
    background-image: url('../img/events/events-banner-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info-section-events {
    background-color: var(--purple);
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events-text-container {
    width: 65%;
    text-align: center;
    margin-bottom: 3rem;
}

.events-title {
    font-family: 'Anton', sans-serif;
    font-size: 5rem !important;
    font-weight: 400 !important;
    text-align: center;
}

.events-subtitle {
    margin: 0;
    text-align: center;
    font-size: 3rem !important;
    line-height: 1.2;
    font-family: 'Anton', sans-serif;
}

.event-box {
    width: 80% !important;
    text-align: center;
    border: 2px solid var(--beige);
    border-radius: 25px;
    padding: 2rem 1rem;
    margin: 0 auto;
}

.event-box p {
    color: var(--beige);
    font-weight: bold !important;
    font-family: 'Amatic SC', cursive;
    font-size: 1.6rem !important;
    -webkit-text-stroke: 1px currentColor;
}


/* Gallery */
.gallery-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    padding: 2rem 0;
}

.gallery-text {
    display: flex;
    text-align: left;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100%;
    margin-bottom: 0;
    padding: 10px;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.img-full-height {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img-full-height:hover {
    transform: scale(1.05);
}

.img-half-height {
    height: 50%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img-half-height:hover {
    transform: scale(1.05);
}

.img-30-height {
    height: 30%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img-30-height:hover {
    transform: scale(1.05);
}

.img-70-height {
    height: 70%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img-70-height:hover {
    transform: scale(1.05);
}

/* Events Form */
.form-section-events {
    background-color: var(--beige);
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
