.banner-locations {
    min-height: 800px;
    background-image: url('../img/locations/location-banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.banner-locations::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
    z-index: 1;
}
.banner-locations .container {
    position: relative;
    z-index: 2;
}

.banner-content {
    position: relative;
    z-index: 2;
}

.banner-content-container {
    padding: 3rem 2.5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    max-width: 600px;
    margin: 0 auto;
}

.info-locations-section {
    background-color: var(--yellow);
    padding: 4rem 0;
}

.location-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.location-title {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 3rem !important;
    line-height: 1.2;
}

.location-image {
    width: 100%;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.location-image img {
    width: 60px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.location-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.location-address {
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 10px;
}

.location-address p {
    margin: 0;
    font-size: 1.4rem !important;
    font-weight: bold !important;
    font-family: 'Amatic SC', cursive;
}

.location-video {
    margin-top: 2rem;
    width: 100%;
}

.video-container {
    position: relative;
    min-width: 100%;
    margin: 0 auto;
    aspect-ratio: 9/16;
    background-color: #000;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.video-thumbnail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.video-thumbnail:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}